<!DOCTYPE HTML>
<html>
  <head>
    <title>{{ cosmic.object.home.metadata.page_title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
  </head>
  <body>

    <div id="left">
      <!-- Header -->
      <header id="header">
        <h1>{{ cosmic.object.home.metadata.headline }}</h1>
        <div>{{{ cosmic.object.home.content }}}</div>
      </header>

      <form target="_blank" id="signup-form" method="post" action="{{ cosmic.object.home.metadata.mailchimp_list_url }}">
        <input type="email" name="EMAIL" id="email" placeholder="Email Address" required />
        <input type="submit" value="{{ cosmic.object.home.metadata.button_text }}" />
      </form>

      <!-- Footer -->
      <footer id="footer">
        <ul class="icons">
          {{# cosmic.object.home.metadata.email }}
          <li><a target="_blank" href="mailto:{{ cosmic.object.home.metadata.email }}" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
          {{/ cosmic.object.home.metadata.email }}
        </ul>
        <ul class="copyright">
          <li>&copy; {{ year }} {{ cosmic.object.home.metadata.company_name }}</li>
        </ul>
      </footer>
    </div>

    <div id="right">
      <div id="callout">
        {{{ cosmic.object.home.metadata.callout }}}
      </div>
    </div>

    <!-- Scripts -->
      <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
      <script id="bg_images" type="application/json">{{{ bg_images }}}</script>
      <script src="assets/js/main.js"></script>
  </body>
</html>
